@model LeaderboardFrontend.Models.LeaderboardViewModel

<form asp-controller="Users" asp-action="DeleteConfirmed" method="post" value="@Model.Id">
    <input asp-for="Id" type="hidden" />
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Kullanıcı Detayları</h1>
        <hr />
        <!-- Kullanıcı bilgileri buraya gelecek -->
        <div class="row">
            <div class="col-2">
                <label asp-for="Username" class="control-label pt-2" style="font-size:14px;">Kullanıcı Adı</label>
            </div>
            <div class="col-10 pb3">
                <input asp-for="Username" class="form-control" readonly style="margin-bottom:20px" />
            </div>

            <div class="col-2">
                <label asp-for="TotalPages" class="control-label pt-2" style="font-size:14px;">Toplam Sayfa</label>
            </div>
            <div class="col-10 pb3">
                <input asp-for="TotalPages" class="form-control" readonly style="margin-bottom:20px" />
            </div>

            <div class="col-2">
                <label asp-for="TodayPages" class="control-label pt-2" style="font-size:14px;">Bugünkü Sayfa</label>
            </div>
            <div class="col-10 pb3">
                <input asp-for="TodayPages" class="form-control" readonly style="margin-bottom:20px" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="Index" asp-controller="Users" class="btn btn-primary form-control">Back To Leaderboard</a>
            </div>

            <div class="col-5">
                <input type="submit" class="btn btn-danger form-control" value="Sil" />
            </div>
        </div>
    </div>
</form>
